"*":
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  editor:
    showInvisibles: true
    showIndentGuide: true
    autoIndentOnPaste: false
    softWrap: true
    scrollPastEnd: true
    invisibles: {}
    fontFamily: "Office Code Pro"
    fontSize: 12
  core:
    disabledPackages: [
      "metrics"
      "editor-stats"
      "autocomplete-plus"
    ]
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
    destroyEmptyPanes: false
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "source.ruby"
      "source.ruby.rails"
    ]
  "tree-view":
    hideIgnoredNames: true
  alignment:
    leftSeparators: [
      ":"
    ]
    rightSeparators: [
      "="
      "+="
      "-="
      "*="
      "/="
      "?="
      "|="
      "%="
      ".="
    ]
    spaceSeparators: [
      "="
      "+="
      "-="
      "*="
      "/="
      "?="
      "|="
      "%="
      ".="
    ]
  "gist-it":
    userToken: "52dde24b2cd70ad176c74e713eca69ba4301fcdc"
    newGistsDefaultToPrivate: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "scroll-past-end":
    retainHalfScreen: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  "atom-lint":
    ignoredNames: [
      "tmp/**"
    ]
    rubocop:
      ignoredNames: [
        "db/**"
      ]
  minimap:
    plugins:
      "highlight-selected": true
      "git-diff": true
      selection: true
      "find-and-replace": true
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  "atom-alignment":
    alignmentSpaceChars: [
      "="
    ]
    alignBy: [
      ":="
      "="
    ]
  "git-log": {}
  "highlight-line": {}
  "autocomplete-plus": {}
  linter:
    lintOnChange: false
  "linter-jscs": {}
  "linter-jshint": {}
  "linter-puppet-lint": {}
  "linter-rubocop": {}
  "one-dark-ui":
    layoutMode: "Compact"
